body {
    margin: 0;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: floodstd;
    src: url("../assets/font/FloodStd.otf");
}

/* header css */

.header {
    display: flex;
    margin: 0;
    padding: 32px;
}

.heading1 p {
    width: 126px;
    text-align: left;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.header div {
    flex: 1;
}

.list1 {
    margin: auto 0;
}

.list1 a {
    display: block;
    text-decoration: none;
    margin-left: 42px;
    margin-bottom: 5px;

    text-align: left;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.donatebutton {
    padding: 0 32px 32px 32px;
}

.donatebutton button {
    
    padding: 10px;
    width: 100%;

    background: #C1F7D5 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    border-radius: 100px;
    opacity: 1;

    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;

}

.box1 {
    background: transparent url('../assets/home/annie-spratt-135307-unsplash.png') 0% 0% no-repeat padding-box;
    background-size: cover;

    position: relative;
    height: 600px;
}

.box1 h1 {
    margin: 0;
    position: absolute;
    top: 32px;
    left: 32px;

    width: 180px;
    text-align: left;
    font: normal normal normal 2.75rem floodstd;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.box2 {
    position: absolute;
    margin: 32px 32px 48px 32px;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 40px 15px 24px 15px;
}

.box2 h2 {
    margin: 0 auto;
    background-color: #354463;
    padding: 10px;
    width: 158px;

    position: absolute;
    top: -20px;
    left: 0;
    right: 0;


    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.box2 p {
    margin: 0;
    
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box2 a {
    display: block;
    margin: 32px 15px 0 15px;
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box3 {
    background: #C1F7D5;
}

.box3 h3 {
    background: #354463;
    width: 160px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;

    position: relative;
    top: -20px;
}

.grid1 {
    padding: 32px 32px 64px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 28px;
}

.grid1 h2 {
    margin: 0;
    text-align: left;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.grid1 p {
    margin: 0;
    text-align: left;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.box4 {
    padding: 32px;
    background: #354463;
}

.box4 h3 {
    background: #FFFFFF;
    width: 160px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
}

.box4 h2 {
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 70px;
}

.grid2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 64px;
}

.grid2 div {
    background: #FFFFFF;
    padding: 32px 35px 32px 35px;
    position: relative;
}

.grid2 div img {
    width: 248px;
    height: 176px;
    position: absolute;
    top: -30px;
}

.grid2 div h2 {
    margin: 140px 0 0 0;
    text-align: center;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.grid2 div p {
    text-align: center;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin: 20px 0 0 0;
}

.grid2 div button {
    border: none;
    outline: none;
    border-radius: 20px;
    display: block;
    margin: 32px auto 0 auto;
    width: 152px;
    padding: 10px;
    background: #C1F7D5;

    font: normal normal bold 1rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box5 {
    padding: 64px 32px 32px 32px;
    background: url("../assets/home/did-you-know-background.png");
    background-size: cover;
}

.box5 h1 {
    text-align: left;
    font: normal normal normal 2.75rem floodstd;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    padding-right: 10px;
}

.box5 button {
    border: none;
    outline: none;
    border-radius: 20px;
    background: #C1F7D5;
    padding: 10px;
    margin-top: 28px;

    font: normal normal bold 1rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box5 h3 {
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    background: #354463;
    padding: 10px;
    width: 160px;
    margin: 50px auto 0 auto;

    position: relative;
    bottom: -15px;
}

.grid3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.grid3 div {
    background: #FFFFFF;
    padding: 32px;
    display: grid;

    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(2, 50px);
}

.grid3 div h2 {
    margin: 0;
    text-align: left;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.grid3 div div {
    background: #C1F7D5;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.twitter {
    width: 16px;
    height: 13px;
}

.facebook {
    width: 8px;
    height: 16px;
}

.grid3 div p {
    font-family: Helvetica;
    color: #354463;
    margin: 0;
}

.box6 {
    padding: 32px;
}

.box6 h3 {
    background: #354463;
    padding: 10px;
    width: 160px;
    margin: 0 auto;
    position: relative;
    bottom: -20px;

    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.box6 img {
    width: 312px;
    height: 312px;
}

.box6 div {
    background: #354463;
    padding: 32px;
    margin: 30px 0 0 0;
}

.box6 div h2 {
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
}

.box6 div p {
    text-align: center;
    font: normal normal normal 0.688rem Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
    margin: 32px 0 0 0;
}

.box6 button {
    width: 156px;
    border: none;
    border-radius: 20px;
    background: #C1F7D5;
    padding: 10px;
    display: block;
    margin: 32px auto 0 auto;

    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box7 {
    padding: 32px;
    background: #354463;
}

.box7 h1 {
    /* margin: 0; */
    text-align: center;
    font: normal normal normal 2.75rem floodstd;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.box7 h3 {
    background: #FFFFFF;
    padding: 10px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
    font: normal normal normal 0.875rem Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;

    position: relative;
    bottom: -15px;
}

.box7 img {
    width: 312px;
    height: 312px;
}

.box7 h2 {
    text-align: center;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 32px 0 32px 0;
}

.box7 p {
    font-family: Helvetica;
    color: #FFFFFF;
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
}

.box7 button {
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;


    width: 156px;
    background: #C1F7D5;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    display: block;
    margin: 32px auto 0 auto;
}

.box7 .button1 {
    margin-bottom: 28px;
}

.box8 {
    background-color: #C1F7D5;
    padding: 32px;
}

.box8 form label {
    display: block;
    margin-bottom: 32px;
    text-align: left;
    font: normal normal bold 1.375rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.box8 form input {
    display: inline-block;
    width: 160px;
    border: none;
    outline: none;
    background: #FFFFFF;
    padding: 12px;
    border-radius: 20px;
}

.box8 form input::placeholder {
    color: #354463;
}

.box8 form button {
    display: inline-block;
    border: none;
    outline: none;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    background: #354463;

    font: normal normal bold 1rem Helvetica;
    letter-spacing: 0px;
    color: #C1F7D5;
    opacity: 1;
    margin-left: 15px;
}

.box9 {
    padding: 64px 32px 64px 32px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
}

.textbox1 {
    text-align: left;
    width: 100px;
    font: normal normal bold 1.125rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.textbox2, .textbox3, .textbox4, .box8 a , .box8 p{
    margin: 0;
    text-align: left;
    font: normal normal 300 0.875rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.textbox5 {
    text-align: right;
    font: normal normal normal 2.75rem floodstd;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    margin: 64px 0 0 0;
}